<div class="row justify-content-md-center mt-40">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body text-center">
                <h2>Register</h2>
                
                
                <form #frm="ngForm">
                    <div class="alert alert-danger" role="alert" *ngIf="showError">
                        Invalid user
                    </div>
                    <div class="form-group" [ngClass]="{'was-validated': (registerForm.submitted && email.valid) || (email.dirty && email.valid)}">
                        <label class="pull-left" for="email"><strong>email</strong></label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="registerForm.email" name="email" #email="ngModel" required email>
                        <div *ngIf="(registerForm.submitted && email.invalid) || (email.dirty && email.invalid)" class="alert alert-danger">
                            Email es requerido
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'was-validated': (registerForm.submitted && rut.valid) || (rut.dirty && rut.valid)}">
                        <label class="pull-left" for="rut"><strong>rut</strong></label>
                        <input type="text"  (blur)="onBlur()" [rut-limit]="rut.value"  class="form-control" id="rut" [(ngModel)]="registerForm.rut" name="rut" #rut="ngModel" rut required>
                        <div *ngIf="(registerForm.submitted && rut.invalid) " class="alert alert-danger">
                            rut es requerido
                        </div>
                        <div *ngIf="(registerForm.submitted && rut.errors) || (rut.dirty && rut.errors)" class="alert alert-danger">
                            rut no es valido
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'was-validated': (registerForm.submitted && password.valid) || (password.dirty && password.valid)}">
                        <label class="pull-left" for="password"><strong>Introduzca Clave</strong></label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="registerForm.password" name="password" #password="ngModel" compare-password="repassword" parent="true" required>
                        <div *ngIf="(registerForm.submitted && password.invalid) || (password.dirty && password.invalid)" class="alert alert-danger">
                            Password es requerida
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'was-validated': (registerForm.submitted && repassword.valid) || (repassword.dirty && repassword.valid)}">
                        <label class="pull-left" for="repassword"><strong>Re-introduzca Clave</strong></label>
                        <input type="password" class="form-control" id="repassword" [(ngModel)]="registerForm.repassword" name="repassword" #repassword="ngModel" compare-password="password" required>
                        <div *ngIf="(registerForm.submitted && repassword.invalid) || (repassword.dirty && repassword.invalid)" class="alert alert-danger">
                            Password es requerida
                        </div>
                        <div *ngIf="(registerForm.submitted && repassword.invalid) || (repassword.dirty && repassword.invalid) || (repassword.dirty && repassword.errors)" class="alert alert-danger">
                            Password no coincide
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-success pull-right" [disabled]="!frm.valid" (click)="register(frm)">Registrar</button>
                </form>
            </div>
        </div>
    </div>
  </div>