<h3>cuenta: {{ cuenta }}</h3>
<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Cantidad</th>
      <th>tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <th scope="row">{{ transaction.createdAt | date: "short" }}</th>
      <td>{{ transaction.source }}</td>
      <td>{{ transaction.destination }}</td>
      <td>{{ transaction.balance }}</td>
      <td>{{ transaction.tipo }}</td>
    </tr>
  </tbody>
</table>
